{% extends 'base.html' %}

{% block main %}
{% include 'flash_messages.html' %}
<h1>Properties</h1>
    <div class = 'property'>
        {% for property in properties %}
        <div class='each'>
        <img src="{{ url_for('uploaded_file', filename =property.photo) }}">
        <br>
        <h3>{{ property.title }}</h3>
        <br>
        
        <p><span class ="location"><img src="{{ url_for('uploaded_file', filename ='icon.png') }}" alt="icon"> {{ property.location }}</p>
        <br>
        
        <p><span class ="price">{{ property.price }}</p>
        <a href="{{ url_for('view_property', propertyid=property.id) }}" class="btn btn-primary">View Details</a>
        </div>
        {% endfor %}
        
        
    </div>


{% endblock %}
